.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 280px;
  width: 100%;
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--card-background-color);
  transition: transform 300ms ease;
  position: relative;
  animation: show-card 300ms ease-in;
  z-index: 10;
}

@keyframes show-card {
  from {
    opacity: 0;
    z-index: 0;
    transform: translateX(-60%) scale(0.5);
  }
  to {
    opacity: 1;
    z-index: 10;
    transform: translateX(0) scale(1);
  }
}

.card__character-status {
  display: flex;
  align-items: center;
  gap: .6rem;
}
.card__character-status span {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: block;
}

.red {
  background-color: #f30303;
}

.green {
  background-color: #05df29;
}

.card__info {
  display: flex;
  flex-direction: column;
  padding: .4rem 0 .4rem 0;
}

.card__info p span {
  font-weight: 300;
  color: var(--text-color2);
}

.card__info h3 {
  margin: 0;
  font-size: 26px;
  display: inline-block;
  transition: all 600ms ease-in;
}

.card__info h3:hover a {
  color: #d88811;
}

.card__info h3:hover a::before {
  content: '';
  display: block;
  width: 70%;
  bottom: 0;
  position: absolute;
  align-self: center;
  height: 2px;
  background-color: #d88811;
}

.card__info h3 a {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
}

.card__image {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__image img {
  border-radius: .5rem;
  width: 100%;
  transition: transform 0.5s ease-in 0.3s;
}

.card__image:hover img {
  transform: scale(1.1);
}

.card__image:hover::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  display: block;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.35);
}

.card p {
  margin: 0;
}

.card__close-card-button {
  position: absolute;
  right: 4px;
  top: 4px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 18px;
  border: 1px solid transparent;
  color: var(--text-color);
  padding: .4rem;
}

.card__close-card-button:focus {
  outline: 2px solid #d88811;
  outline-style: dashed;
  outline-offset: 2px;
}

.card__close-card-button:active {
  outline: none;
}

.card__close-card-button img {
  width: 24px;
  height: 24px;
}

.card__close-card-button:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.199);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.164);
}

.card__favorite-button {
  border: none;
  padding: .5rem;
  position: absolute;
  color: #e90b0b;
  font-weight: 700;
  background-color: transparent;
  font-size: 34px;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.76);
  transition: transform 300ms ease;
  z-index: 50;
}

.card__favorite-button:hover {
  cursor: pointer;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
}

.card__favorite-button:active {
  background-color: rgba(0, 0, 0, 0.226);
  animation: heart 300ms ease-out;
}

@keyframes heart {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(2);
  }
}